.object{
	display: block;
	position: relative; 
	margin-bottom: 50px;
	padding-bottom: 80px;
	border-bottom: 3px solid #fb8f3a;
	padding-left: 20px;
	padding-right: 20px;
}
.object a, .add a{
	display: block;
	float: left;
	width: 100px;
	height: 50px;
	background-color: #fb8f3a;
	text-align: center;
	color: black;
	margin: 10px 10px;
	line-height: 45px;
	text-decoration: none;
}
.object a:hover, .add a:hover{
	background-color: #fbb23a;
}

.images{
	position: relative;
	display: block;
}

.images img{
	height: 150px;
	display: block;
	margin: 0 auto;
	float: left;
}